.DS_Store
__pycache__/
.pytest_cache/
/*/src/*.zip
**/.zip
env/
htmlcov
.coverage
coverage.xml
tmp
.DS_Store

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
